<p>
  games component works!
</p>

<ul>
  <li
    *ngFor="let game of games; let i = index"
    [innerHTML]="game | chessgamepipe"
  >
    <!--GAME #{{ i }} : {{ game.white }} vs {{ game.black }}
    <button routerLink="game-details">details</button>
    <button (click)="deleteGame(i)">delete</button>-->
  </li>
</ul>

<br />

<button (click)="addGame()">add a game!</button>

<br />
<br />
<hr />
<p>reactive forms</p>
<br />
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <add-game [parent]="form"></add-game>

  <div class="games_buttons">
    <button type="submit" [disabled]="form.invalid">
      create game
    </button>
  </div>

  <pre>{{ form.value | json }}</pre>
</form>
